[
  {
    "scope": "https://comparaonlinedev.bitrix24.com:443",
    "method": "GET",
    "path": "/rest/crm.contact.list?parameters_method&auth=undefined&select[0]=ID",
    "body": "",
    "status": 401,
    "response": {
      "error": "invalid_token",
      "error_description": "Unable to get application by token"
    },
    "rawHeaders": [
      "nginx/1.8.1",
      "Mon, 23 Apr 2018 17:36:40 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "chunked",
      "close",
      "policyref=\"/bitrix/p3p.xml\", CP=\"NON DSP COR CUR ADM DEV PSA PSD OUR UNR BUS UNI COM NAV INT DEM STA\"",
      "X-Powered-CMS",
      "Bitrix Site Manager (1682f9867b9ef36eacf05e345db46f3c)",
      "PHPSESSID=l164fZbIyRtwP200NZdnSsFK4oH1MnKV; path=/; secure; HttpOnly",
      "Thu, 19 Nov 1981 08:52:00 GMT",
      "no-store, no-cache, must-revalidate",
      "no-cache",
      "qmb=deleted; expires=Thu, 01-Jan-1970 00:00:01 GMT; Max-Age=0; path=/",
      "*",
      "nosniff"
    ]
  },
  {
    "scope": "https://comparaonlinedev.bitrix24.com:443",
    "method": "GET",
    "path": "/oauth/token/?grant_type=refresh_token&client_id=MOCK_CLIENT_ID&client_secret=MOCK_CLIENT_SECRET&refresh_token=MOCK_REFRESH_TOKEN",
    "body": "",
    "status": 200,
    "response": {
      "access_token": "MOCK_ACCESS_TOKEN_2",
      "expires": 1524508601,
      "expires_in": 3600,
      "scope": "app",
      "domain": "comparaonlinedev.bitrix24.com",
      "server_endpoint": "https://oauth.bitrix.info/rest/",
      "status": "L",
      "client_endpoint": "https://comparaonlinedev.bitrix24.com/rest/",
      "member_id": "5e5bbec249b36e418245d9d5673b72f2",
      "user_id": 4,
      "refresh_token": "MOCK_REFRESH_TOKEN_2"
    },
    "rawHeaders": [
      "nginx/1.8.1",
      "Mon, 23 Apr 2018 17:36:41 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "policyref=\"/bitrix/p3p.xml\", CP=\"NON DSP COR CUR ADM DEV PSA PSD OUR UNR BUS UNI COM NAV INT DEM STA\"",
      "X-Powered-CMS",
      "Bitrix Site Manager (1682f9867b9ef36eacf05e345db46f3c)",
      "PHPSESSID=Yx7IWJ9OtnhjMNUelZTsvpa1Fae3ThJq; path=/; secure; HttpOnly",
      "Thu, 19 Nov 1981 08:52:00 GMT",
      "no-store, no-cache, must-revalidate",
      "no-cache",
      "qmb=deleted; expires=Thu, 01-Jan-1970 00:00:01 GMT; Max-Age=0; path=/",
      "SAMEORIGIN",
      "nosniff",
      "max-age=31536000; includeSubdomains"
    ]
  },
  {
    "scope": "https://comparaonlinedev.bitrix24.com:443",
    "method": "GET",
    "path": "/rest/crm.contact.list?parameters_method&auth=MOCK_ACCESS_TOKEN_2&select[0]=ID",
    "body": "",
    "status": 200,
    "response": {
      "result": [
        {
          "ID": "10"
        },
        {
          "ID": "12"
        },
        {
          "ID": "14"
        },
        {
          "ID": "16"
        },
        {
          "ID": "18"
        },
        {
          "ID": "20"
        },
        {
          "ID": "22"
        },
        {
          "ID": "24"
        },
        {
          "ID": "26"
        },
        {
          "ID": "28"
        },
        {
          "ID": "30"
        },
        {
          "ID": "32"
        },
        {
          "[...]
